.favorite-button {
    background-color: transparent;
    border: none;
    color:white;
    cursor: pointer;
  
    i {
      font-size: 1.5rem;
      margin-right: 0.5rem;
    }
  
    &.active {
      color: red; // Cambia il colore quando è attivo
    }
  }
  