.image-container{
  background-image: url("../../assets/bsk.jpg");
  height: 450px;
  background-size:cover;
  background-position:center;
}
.title-firstbanner h1{
  color:white;
  margin-top: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  position:absolute;
  top :35%;
  left:60%;
  font-size:70px;
}
@media (max-width:1000px) {

  .title-firstbanner h1{
  position:absolute;
  top:40%;
  left:50%;
  font-size: 70px;
}
  
}
@media (max-width:800px) {

  .title-firstbanner h1{
    position:absolute;
    top:40%;
    left:50%;
    font-size: 45px;
  }
    
}

@media (max-width:500px) {

  .title-firstbanner h1{
    position:absolute;
    top:40%;
    left: 45%;
    font-size: 30px;
  }
    
  }
  @media (max-width:300px) {

    .title-firstbanner   h1{
      position:absolute;
      top:45%;
      left: 35%;
      font-size: 30px;
    }
      
    }

.image-container2 {
    background-image: url("../../assets/calcio.jpg");
    height: 450px;
    background-size: cover;
    background-position: center;
    position: relative; /* Aggiungi questa proprietà */
  }
  
  .title-secondbanner {
    position: absolute;
    color: white;
    top:80px;
    margin-top: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: 35px;  
  }
  
  @media (max-width:1000px) {
    .image-container2 .title-secondbanner h1 {
      position: absolute;
      left:200px;
      top:-120px;
      font-size: 60px;
    }
  }
  
  @media (max-width:800px) {
    .image-container2 .title-secondbanner h1 {
      position: absolute;
      left:100px;
      top:-50px;
      font-size: 45px;
    }
  }
  
  @media (max-width:500px) {
    .image-container2 .title-secondbanner h1 {
      position: absolute;
      left:50px;
      top:-30px;
      font-size: 35px;
    }
  }
  
  @media (max-width:300px) {
    .image-container2 .title-secondbanner h1 {
      position: absolute;
      left:50px;
      top:-30px;
      font-size: 35px;

    }
  }  

